[Unit]
Description= Lancache Docker Service
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=infinity
Restart=always
RestartSec=5

ExecStart=/usr/bin/docker-compose -f {{ docker_compose_dir }}/lancache/docker-compose.lancache.yml -p "Lancache" up
ExecStop=/usr/bin/docker-compose -f {{ docker_compose_dir }}/lancache/docker-compose.lancache.yml -p "Lancache" stop

[Install]
WantedBy=multi-user.target
