---
version: '3'

services:
  rtorrent:
    image: linuxserver/rutorrent:{{ rtorrent_tag }}
    container_name: Rtorrent
    restart: unless-stopped
    ports:
      - {{ rtorrent_http_port }}:80
      - {{ rtorrent_https_port }}:443
      - {{ rtorrent_scgi_port }}:5000
      - {{ rtorrent_bittorrent_port }}:51413
      - {{ rtorrent_bittorrent_port2 }}:6881/udp
{% if rtorrent_additional_ports %}
{% for port in rtorrent_additional_ports %}
      - {{ port }}
{% endfor %}
{% endif %}
    volumes:
      - {{ rtorrent_directories.config }}:/config
      - {{ rtorrent_directories.downloads }}:/downloads
{% if rtorrent_additional_volumes %}
{% for volume in rtorrent_additional_volumes %}
      - {{ volume }}
{% endfor %}
{% endif %}
{% if rtorrent_additional_env %}
    environment:
{% for env in rtorrent_additional_env %}
      {{ env }}
{% endfor %}
{% endif %}
    labels:
      traefik.enable: "{{ rtorrent_traefik_enabled }}"
      traefik.http.routers.rtorrent.entrypoints: "web"
      traefik.http.routers.rtorrent.rule: "Host(`{{ rtorrent_domain }}`)"
      traefik.http.routers.rtorrent-s.entrypoints: "web-secure"
      traefik.http.routers.rtorrent-s.rule: "Host(`{{ rtorrent_domain }}`)"
      traefik.http.routers.rtorrent-s.tls: "true"
{% if traefik_letsencrypt_enabled %}
      traefik.http.routers.rtorrent-s.tls.certresolver: "le"
{% endif %}
      traefik.http.services.rtorrent.loadbalancer.server.port: "80"
{% if rtorrent_additional_labels %}
{% for label in rtorrent_additional_labels %}
      {{ label }}
{% endfor %}
{% endif %}
