---
version: '3'

services:
  gitea:
    image: gitea/gitea:{{ gitea_tag }}
    container_name: Gitea
    restart: unless-stopped
    ports:
      - "{{ gitea_http_port }}:3000"
      - "{{ gitea_ssh_port }}:22"
    volumes:
      - {{ gitea_directories.data }}:/data
    environment:
      -  APP_NAME="{{ gitea_appname }}"
      -  RUN_MODE="{{ gitea_runmode }}"
      -  SSH_DOMAIN="{{ gitea_domain }}"
      -  SSH_PORT={{ gitea_ssh_port }}
      -  DISABLE_SSH={{ gitea_disable_ssh }}
      -  ROOT_URL="http://{{ gitea_domain }}:{{ gitea_http_port }}"
      -  DISABLE_REGISTRATION={{ gitea_disable_registrations }}
      -  REQUIRE_SIGNIN_VIEW={{ gitea_require_signin }}
    labels:
      traefik.enable: "{{ gitea_traefik_enabled }}"
      traefik.http.routers.gitea.entrypoints: "web"
      traefik.http.routers.gitea.rule: "Host(`{{ gitea_domain }}`)"
      traefik.http.routers.gitea-s.entrypoints: "web-secure"
      traefik.http.routers.gitea-s.rule: "Host(`{{ gitea_domain }}`)"
      traefik.http.routers.gitea-s.tls: "true"
      traefik.http.services.gitea.loadbalancer.server.port: "3000"
