---
version: '3'

services:
  duplicati:
    image: linuxserver/duplicati:{{ duplicati_tag }}
    container_name: Duplicati
    restart: unless-stopped
    ports:
      - {{ duplicati_port }}:8200
    volumes:
      - {{ duplicati_directories.config }}:/config
      - {{ duplicati_directories.data }}:/backup
      - {{ duplicati_directories.source }}:/source
    labels:
      traefik.enable: "{{ duplicati_traefik_enabled }}"
      traefik.http.routers.duplicati.entrypoints: "web"
      traefik.http.routers.duplicati.rule: "Host(`{{ duplicati_domain }}`)"
      traefik.http.routers.duplicati-s.entrypoints: "web-secure"
      traefik.http.routers.duplicati-s.rule: "Host(`{{ duplicati_domain }}`)"
      traefik.http.routers.duplicati-s.tls: "true"
      traefik.http.services.duplicati.loadbalancer.server.port: "8200"
      