---
version: '3'

services:
  nginx:
    image: nginx
    container_name: Nginx:{{ nginx_tag }}
    restart: unless-stopped
    ports:
      - {{ nginx_http_port }}:80
      - {{ nginx_https_port }}:443
    volumes:
      - {{ nginx_directories.config }}:/etc/nginx/
      - {{ nginx_directories.data }}:/var/www
    labels:
      traefik.enable: "{{ nginx_traefik_enabled }}"
      traefik.http.routers.nginx.entrypoints: "web"
      traefik.http.routers.nginx.rule: "Host(`{{ nginx_domain }}`)"
      traefik.http.routers.nginx-s.entrypoints: "web-secure"
      traefik.http.routers.nginx-s.rule: "Host(`{{ nginx_domain }}`)"
      traefik.http.routers.nginx-s.tls: "true"
      traefik.http.services.nginx.loadbalancer.server.port: "80"
