---
version: '3'

services:
  homeassistant:
    image: homeassistant/home-assistant:{{ homeassistant_tag }}
    container_name: HomeAssistant
    restart: unless-stopped
    volumes:
      - {{ homeassistant_directories.config }}:/config
    ports:
      - {{ homeassistant_port }}:8123
    labels:
      traefik.enable: "{{ homeassistant_traefik_enabled }}"
      traefik.http.routers.homeassistant.entrypoints: "web"
      traefik.http.routers.homeassistant.rule: "Host(`{{ homeassistant_domain }}`)"
      traefik.http.routers.homeassistant-s.entrypoints: "web-secure"
      traefik.http.routers.homeassistant-s.rule: "Host(`{{ homeassistant_domain }}`)"
      traefik.http.routers.homeassistant-s.tls: "true"
      traefik.http.services.homeassistant.loadbalancer.server.port: "8123"
