---
version: '3'

services:
  nextcloud-db:
    image: mariadb:{{ nextcloud_db_tag }}
    container_name: Nextcloud-DB
    restart: unless-stopped
    volumes:
      - {{ nextcloud_directories.data }}/db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: {{ nextcloud_db_rootpassword }}
      MYSQL_PASSWORD: {{ nextcloud_db_password }}
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
  nextcloud:
    image: nextcloud:{{ nextcloud_tag }}
    container_name: Nextcloud
    restart: unless-stopped
    links:
      - nextcloud-db:db
    ports:
      - {{ nextcloud_port }}:80
{% if nextcloud_additional_ports %}
{% for port in nextcloud_additional_ports %}
      - {{ port }}
{% endfor %}
{% endif %}
    volumes:
      - {{ nextcloud_directories.data }}/app:/var/www/html
{% if nextcloud_additional_volumes %}
{% for volume in nextcloud_additional_volumes %}
      - {{ volume }}
{% endfor %}
{% endif %}
    environment:
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: "{{ nextcloud_db_password }}"
      MYSQL_HOST: db
      NEXTCLOUD_ADMIN_USER: "{{ nextcloud_admin_username }}"
      NEXTCLOUD_ADMIN_PASSWORD: "{{ nextcloud_admin_password }}"
{% if nextcloud_smtp_enabled %}
      SMTP_HOST: "{{ nextcloud_smtp_host }}"
      SMTP_SECURE: "{{ nextcloud_smtp_secure }}"
      SMTP_PORT: "{{ nextcloud_smtp_port }}"
      SMTP_AUTHTYPE: "{{ nextcloud_smtp_authtype }}"
      SMTP_NAME: "{{ nextcloud_smtp_user }}"
      SMTP_PASSWORD: "{{ nextcloud_smtp_password }}"
      MAIL_FROM_ADRESS: "{{ nextcloud_smtp_from }}"
      MAIL_DOMAIN: "{{ nextcloud_smtp_domain }}"
{% endif %}
{% if nextcloud_additional_env %}
{% for env in nextcloud_additional_env %}
      {{ env }}
{% endfor %}
{% endif %}
    labels:
      traefik.enable: "{{ nextcloud_traefik_enabled }}"
      traefik.http.routers.nextcloud.entrypoints: "web"
      traefik.http.routers.nextcloud.rule: "Host(`{{ nextcloud_domain }}`)"
      traefik.http.routers.nextcloud-s.entrypoints: "web-secure"
      traefik.http.routers.nextcloud-s.rule: "Host(`{{ nextcloud_domain }}`)"
      traefik.http.routers.nextcloud-s.tls: "true"
      traefik.http.services.nextcloud.loadbalancer.server.port: "80"
{% if nextcloud_additional_labels %}
{% for label in nextcloud_additional_labels %}
      {{ label }}
{% endfor %}
{% endif %}
