---
version: '3'

services:
  airsonic:
    image: airsonic/airsonic:{{ airsonic_tag }}
    container_name: Airsonic
    restart: unless-stopped
    ports:
      - {{ airsonic_port }}:4040
{% if airsonic_additional_ports %}
{% for port in airsonic_additional_ports %}
      - {{ port }}
{% endfor %}
{% endif %}
    volumes:
      - {{ airsonic_directories.data }}/data:/airsonic/data
      - {{ airsonic_directories.data }}/playlists:/airsonic/playlists
      - {{ airsonic_directories.data }}/podcasts:/airsonic/podcasts
      - {{ airsonic_music_directory }}:/airsonic/music
{% if airsonic_additional_volumes %}
{% for volume in airsonic_additional_volumes %}
      - {{ volume }}
{% endfor %}
{% endif %}
{% if airsonic_additional_env %}
    environment:
{% for env in airsonic_additional_env %}
      {{ env }}
{% endfor %}
{% endif %}
    labels:
      traefik.enable: "{{ airsonic_traefik_enabled }}"
      traefik.http.routers.airsonic.entrypoints: "web"
      traefik.http.routers.airsonic.rule: "Host(`{{ airsonic_domain }}`)"
      traefik.http.routers.airsonic-s.entrypoints: "web-secure"
      traefik.http.routers.airsonic-s.rule: "Host(`{{ airsonic_domain }}`)"
      traefik.http.routers.airsonic-s.tls: "true"
{% if traefik_letsencrypt_enabled %}
      traefik.http.routers.airsonic-s.tls.certresolver: "le"
{% endif %}
      traefik.http.services.airsonic.loadbalancer.server.port: "4040"
{% if airsonic_additional_labels %}
{% for label in airsonic_additional_labels %}
      {{ label }}
{% endfor %}
{% endif %}
