---
version: '3'

services:
  dokuwiki:
    image: linuxserver/dokuwiki:{{ dokuwiki_tag }}
    container_name: Dokuwiki
    restart: unless-stopped
    ports:
      - {{ dokuwiki_http_port }}:80
      - {{ dokuwiki_https_port }}:443
{% if dokuwiki_additional_ports %}
{% for port in dokuwiki_additional_ports %}
      - {{ port }}
{% endfor %}
{% endif %}
    volumes:
      - {{ dokuwiki_directories.config }}:/config
{% if dokuwiki_additional_volumes %}
{% for volume in dokuwiki_additional_volumes %}
      - {{ volume }}
{% endfor %}
{% endif %}
{% if dokuwiki_additional_env %}
    environment:
{% for env in dokuwiki_additional_env %}
      {{ env }}
{% endfor %}
{% endif %}
    labels:
      traefik.enable: "{{ dokuwiki_traefik_enabled }}"
      traefik.http.routers.dokuwiki.entrypoints: "web"
      traefik.http.routers.dokuwiki.rule: "Host(`{{ dokuwiki_domain }}`)"
      traefik.http.routers.dokuwiki-s.entrypoints: "web-secure"
      traefik.http.routers.dokuwiki-s.rule: "Host(`{{ dokuwiki_domain }}`)"
      traefik.http.routers.dokuwiki-s.tls: "true"
{% if traefik_letsencrypt_enabled %}
      traefik.http.routers.dokuwiki-s.tls.certresolver: "le"
{% endif %}
      traefik.http.services.dokuwiki.loadbalancer.server.port: "80"
{% if dokuwiki_additional_labels %}
{% for label in dokuwiki_additional_labels %}
      {{ label }}
{% endfor %}
{% endif %}
