---
version: '3'

services:
  heimdall:
    image: linuxserver/heimdall:{{ heimdall_tag }}
    container_name: Heimdall
    restart: unless-stopped
    ports:
      - {{ heimdall_http_port }}:80
      - {{ heimdall_https_port }}:443
{% if heimdall_additional_ports %}
{% for port in heimdall_additional_ports %}
      - {{ port }}
{% endfor %}
{% endif %}
    volumes:
      - {{ heimdall_directories.config }}:/config
{% if heimdall_additional_volumes %}
{% for volume in heimdall_additional_volumes %}
      - {{ volume }}
{% endfor %}
{% endif %}
{% if heimdall_additional_env %}
    environment:
{% for env in heimdall_additional_env %}
      {{ env }}
{% endfor %}
{% endif %}
    labels:
      traefik.enable: "{{ heimdall_traefik_enabled }}"
      traefik.http.routers.heimdall.entrypoints: "web"
      traefik.http.routers.heimdall.rule: "Host(`{{ heimdall_domain }}`)"
      traefik.http.routers.heimdall-s.entrypoints: "web-secure"
      traefik.http.routers.heimdall-s.rule: "Host(`{{ heimdall_domain }}`)"
      traefik.http.routers.heimdall-s.tls: "true"
{% if traefik_letsencrypt_enabled %}
      traefik.http.routers.heimdall-s.tls.certresolver: "le"
      traefik.http.services.heimdall.loadbalancer.server.port: "80"
{% endif %}
{% if heimdall_additional_labels %}
{% for label in heimdall_additional_labels %}
      {{ label }}
{% endfor %}
{% endif %}
