---
version: '3'

services:
  homeassistant:
    image: homeassistant/home-assistant:{{ homeassistant_tag }}
    container_name: HomeAssistant
    restart: unless-stopped
    volumes:
      - {{ homeassistant_directories.config }}:/config
{% if homeassistant_additional_volumes %}
{% for volume in homeassistant_additional_volumes %}
      - {{ volume }}
{% endfor %}
{% endif %}
    ports:
      - {{ homeassistant_port }}:8123
{% if homeassistant_additional_ports %}
{% for port in homeassistant_additional_ports %}
      - {{ port }}
{% endfor %}
{% endif %}
{% if homeassistant_additional_env %}
    environment:
{% for env in homeassistant_additional_env %}
      {{ env }}
{% endfor %}
{% endif %}
    labels:
      traefik.enable: "{{ homeassistant_traefik_enabled }}"
      traefik.http.routers.homeassistant.entrypoints: "web"
      traefik.http.routers.homeassistant.rule: "Host(`{{ homeassistant_domain }}`)"
      traefik.http.routers.homeassistant-s.entrypoints: "web-secure"
      traefik.http.routers.homeassistant-s.rule: "Host(`{{ homeassistant_domain }}`)"
      traefik.http.routers.homeassistant-s.tls: "true"
{% if traefik_letsencrypt_enabled %}
      traefik.http.routers.homeassistant-s.tls.certresolver: "le"
{% endif %}
      traefik.http.services.homeassistant.loadbalancer.server.port: "8123"
{% if homeassistant_additional_labels %}
{% for label in homeassistant_additional_labels %}
      {{ label }}
{% endfor %}
{% endif %}
