entryPoints:
  web:
    address: ":80"
  web-secure:
    address: ":443"

defaultEntryPoints: ["http", "https"]

api:
  dashboard: "{{ traefik_dashboard_enabled }}"
  insecure: "{{ traefik_insecure_api }}"

providers:
  docker:
    exposedByDefault: false
