entryPoints:
  web:
    address: ":80"
  web-secure:
    address: ":443"

defaultEntryPoints: ["http", "https"]

api:
  dashboard: "{{ traefik_dashboard_enabled }}"
  insecure: "{{ traefik_insecure_api }}"

providers:
  docker:
    exposedByDefault: false
{% if traefik_letsencrypt_enabled %}
certificatesResolvers:
  le:
    acme:
      email: "{{ charjabox_email }}"
      storage: acme.json
      httpChallenge:
        entryPoint: web
{% endif %}
