[Unit]
Description= rtorrent Docker Service
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=infinity
Restart=always
RestartSec=5

ExecStart=/usr/bin/docker-compose -f {{ docker_compose_dir }}/rtorrent/docker-compose.rtorrent.yml -p "rtorrent" up
ExecStop=/usr/bin/docker-compose -f {{ docker_compose_dir }}/rtorrent/docker-compose.rtorrent.yml -p "rtorrent" stop

[Install]
WantedBy=multi-user.target
