[Unit]
Description= Plex Docker Service
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=infinity
Restart=always
RestartSec=5

ExecStart=/usr/bin/docker-compose -f {{ docker_compose_dir }}/plex/docker-compose.plex.yml -p "Plex" up
ExecStop=/usr/bin/docker-compose -f {{ docker_compose_dir }}/plex/docker-compose.plex.yml -p "Plex" stop

[Install]
WantedBy=multi-user.target
