---
version: '3'

services:
  dokuwiki:
    image: linuxserver/dokuwiki:latest
    container_name: Dokuwiki
    restart: unless-stopped
    ports:
      - {{ dokuwiki_http_port }}:80
      - {{ dokuwiki_https_port }}:443
    volumes:
      - {{ dokuwiki_config_directory }}:/config