---
version: '3'

services:
  portainer:
    image: portainer/portainer:{{ portainer_tag }}
    container_name: Portainer
    restart: unless-stopped
    ports:
      - {{ portainer_port }}:9000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ portainer_config_directory }}:/data
    labels:
      traefik.enable: "{{ portainer_traefik_enabled }}"
      traefik.http.routers.portainer.entrypoints: "web"
      traefik.http.routers.portainer.rule: "Host(`{{ portainer_domain }}`)"
      traefik.http.routers.portainer-s.entrypoints: "web-secure"
      traefik.http.routers.portainer-s.rule: "Host(`{{ portainer_domain }}`)"
      traefik.http.routers.portainer-s.tls: "true"
      traefik.http.services.portainer.loadbalancer.server.port: "9000"
