---
version: '3'

services:
  heimdall:
    image: linuxserver/heimdall:latest
    restart: unless-stopped
    ports:
      - {{ heimdall_http_port }}:80
      - {{ heimdall_https_port }}:443
    volumes:
      - {{ heimdall_config_directory }}:/config
