---
version: '3'

services:
  heimdall:
    image: linuxserver/heimdall:{{ heimdall_tag }}
    container_name: Heimdall
    restart: unless-stopped
    ports:
      - {{ heimdall_http_port }}:80
      - {{ heimdall_https_port }}:443
    volumes:
      - {{ heimdall_config_directory }}:/config
    labels:
      traefik.enable: "{{ heimdall_traefik_enabled }}"
      traefik.http.routers.heimdall.rule: "Host(`{{ heimdall_domain }}`)"
      traefik.http.services.heimdall.loadbalancer.server.port: "80"
