[Unit]
Description= Heimdall Docker Service
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=infinity
Restart=always
RestartSec=5

ExecStart=/usr/bin/docker-compose -f {{ docker_compose_dir }}/heimdall/docker-compose.heimdall.yml -p "Heimdall" up
ExecStop=/usr/bin/docker-compose -f {{ docker_compose_dir }}/heimdall/docker-compose.heimdall.yml -p "Heimdall" stop

[Install]
WantedBy=multi-user.target
