---
version: '3'

services:
  bitwarden_rs:
    image: bitwardenrs/server
    container_name: bitwarden_rs
    restart: unless-stopped
    ports:
      - {{ bitwarden_rs_http_port }}:80
{% if bitwarden_rs_websocket_enabled %}
      - {{ bitwarden_rs_websocket_port }}:3012
{% endif %}
    volumes:
      - {{ bitwarden_rs_data_directory }}:/data
    environment:
      - SIGNUPS_ALLOWED="{{ bitwarden_rs_signups_allowed }}"
      - INVITATIONS_ALLOWED="{{ bitwarden_rs_invites_allowed }}"
      - ADMIN_TOKEN="{{ bitwarden_rs_admintoken }}"
      - WEBSOCKET_ENABLED={{ bitwarden_rs_websocket_enabled }}"
      - DOMAIN="https://{{ charjabox_domain }}"
{% if bitwarden_rs_yubikey_enabled %}
      - YUBICO_SERVER="{{ bitwarden_rs_yubikey_server }}"
      - YUBICO_CLIENT_ID="{{ bitwarden_rs_yubikey_id }}"
      - YUBICO_SECRET_KEY="{{ bitwarden_rs_yubikey_key }}"
{% endif %}
{% if bitwarden_rs_smtp_enabled %}
      - SMTP_HOST="{{ bitwarden_rs_smtp_host }}"
      - SMTP_FROM="{{ bitwarden_rs_smtp_from }}"
      - SMTP_PORT="{{ bitwarden_rs_smtp_port }}"
      - SMTP_SSL="{{ bitwarden_rs_smtp_ssl }}"
      - SMTP_USERNAME="{{ bitwarden_rs_smtp_username }}"
      - SMTP_PASSWORD="{{ bitwarden_rs_smtp_password }}"
{% endif %}
    labels:
      traefik.enable: "{{ bitwarden_rs_traefik_enabled }}"
      traefik.http.routers.bitwarden_rs.entrypoints: "web"
      traefik.http.routers.bitwarden_rs.rule: "Host(`{{ bitwarden_rs_domain }}`)"
      traefik.http.routers.bitwarden_rs-s.entrypoints: "web-secure"
      traefik.http.routers.bitwarden_rs-s.rule: "Host(`{{ bitwarden_rs_domain }}`)"
      traefik.http.routers.bitwarden_rs-s.tls: "true"
      traefik.http.services.bitwarden_rs.loadbalancer.server.port: "80"
