---
version: '3'

services:
  jackett:
    image: linuxserver/jackett
    container_name: Jackett
    restart: unless-stopped
    ports:
      - {{ jackett_port }}:9117
    volumes:
      - {{ jackett_config_directory }}:/config
      - {{ jackett_data_directory }}:/downloads
    labels:
      traefik.enable: "{{ jackett_traefik_enabled }}"
      traefik.http.routers.jackett.entrypoints: "web"
      traefik.http.routers.jackett.rule: "Host(`{{ jackett_domain }}`)"
      traefik.http.routers.jackett-s.entrypoints: "web-secure"
      traefik.http.routers.jackett-s.rule: "Host(`{{ jackett_domain }}`)"
      traefik.http.routers.jackett-s.tls: "true"
      traefik.http.services.jackett.loadbalancer.server.port: "9117"
