---
version: '3'

services:
  jackett:
    image: linuxserver/jackett
    container_name: Jackett
    restart: unless-stopped
    ports:
      - {{ jackett_port }}:9117
    volumes:
      - {{ jackett_config_directory }}:/config
      - {{ jackett_data_directory }}:/downloads
