[Unit]
Description= Airsonic Docker Service
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=infinity
Restart=always
RestartSec=5

ExecStart=/usr/bin/docker-compose -f {{ docker_compose_dir }}/airsonic/docker-compose.airsonic.yml -p "Airsonic" up
ExecStop=/usr/bin/docker-compose -f {{ docker_compose_dir }}/airsonic/docker-compose.airsonic.yml -p "Airsonic" stop

[Install]
WantedBy=multi-user.target
