---
version: '3'

services:
  airsonic:
    image: airsonic/airsonic
    container_name: Airsonic
    restart: unless-stopped
    ports:
      - {{ airsonic_port }}:4040
    volumes:
      - {{ airsonic_data_directory }}/data:/airsonic/data
      - {{ airsonic_data_directory }}/playlists:/airsonic/playlists
      - {{ airsonic_data_directory }}/podcasts:/airsonic/podcasts
      - {{ airsonic_music_directory }}:/airsonic/music
    labels:
      traefik.enable: "{{ airsonic_traefik }}"
      traefik.http.routers.airsonic.rule: "Host(`{{ airsonic_domain }}`)"
      traefik.http.services.airsonic.loadbalancer.server.port: "{{ airsonic_port }}"
