[Unit]
Description= Bazarr Docker Service
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=infinity
Restart=always
RestartSec=5

ExecStart=/usr/bin/docker-compose -f {{ docker_compose_dir }}/bazarr/docker-compose.bazarr.yml -p "Bazarr" up
ExecStop=/usr/bin/docker-compose -f {{ docker_compose_dir }}/bazarr/docker-compose.bazarr.yml -p "Bazarr" stop

[Install]
WantedBy=multi-user.target
