---
version: '3'

services:
  traefik:
    image: traefik
    container_name: traefik
    restart: unless-stopped
    network_mode: host
    ports:
      - {{ traefik_http_port }}:80
      - {{ traefik_https_port }}:443
      - {{ traefik_webinterface_port }}:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ traefik_config_directory }}/traefik.yml:/etc/traefik/traefik.yml
