[Unit]
Description= traefik Docker Service
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=infinity
Restart=always
RestartSec=5

ExecStart=/usr/bin/docker-compose -f {{ docker_compose_dir }}/traefik/docker-compose.traefik.yml -p "Traefik" up
ExecStop=/usr/bin/docker-compose -f {{ docker_compose_dir }}/traefik/docker-compose.traefik.yml -p "Traefik" stop

[Install]
WantedBy=multi-user.target
