entryPoints:
  http:
    address: ":80"
  https:
    address: ":443"

api:
  dashboard: "{{ traefik_dashboard_enabled }}"
  insecure: "{{ traefik_insecure_api }}"

providers:
  docker:
    exposedByDefault: false
