---
version: '3'

services:
  radarr:
    image: linuxserver/radarr:{{ radarr_tag }}
    container_name: Radarr
    restart: unless-stopped
    ports:
      - {{ radarr_port }}:7878
    volumes:
      - {{ radarr_config_directory }}:/config
      - {{ radarr_data_directory }}:/downloads
      - {{ charjabox_movies_directory }}:/movies
    labels:
      traefik.enable: "{{ radarr_traefik_enabled }}"
      traefik.http.routers.radarr.entrypoints: "web"
      traefik.http.routers.radarr.rule: "Host(`{{ radarr_domain }}`)"
      traefik.http.routers.radarr-s.entrypoints: "web-secure"
      traefik.http.routers.radarr-s.rule: "Host(`{{ radarr_domain }}`)"
      traefik.http.routers.radarr-s.tls: "true"
      traefik.http.services.radarr.loadbalancer.server.port: "{{ radarr_port }}"
